body {
 background-color: purple; 
}
h1 {
  font: Tahoma;
  size: 6;
  color: maroon;
}

h2 {
  font: Times New Roman;
  size: 6;
  color: red;
}

h3 {
  font: Arial;
  size: 5;
  color: purple;
}

h6 {
  align: middle;
  font: comic-sans;
  color: white;
  size: 3;
  background-color: gray;
}
